* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 60%;
}


#container {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 0.25fr 1fr 0.25fr;

    #header {
        border: 2px solid red;
    }

    #main {
        border: 2px dashed green;
        display: flex;

        #quiz-section {
            display: flex;
            width: 100%;

            #quiz-text-content {
                flex: 1;
                border : 2px solid red;
            }

            #quiz-graphic-section {
                flex: 1;
                border : 5px solid magenta;
                display: flex;
                justify-content: center;
                align-items: center;


                img{
                    max-width: 80%;
                    max-height: 80%;
                    object-fit: contain;
                }
            }
        }
    }

}

#footer {
    border: 2px solid blue;
}
