*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    .container{
        min-height: 50rem;
        width: 40rem;
        display: grid;
        grid-template-rows: 10rem 40rem 5em;

        header{
            display : flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 0.5rem;
            #company-img{
                font-size: 2rem;
                font-weight: bold;
            }

            #module-title{
                font-size : 1.5rem;
                font-weight: 400;
            }
        }

        main{
            overflow-y: auto;
            font-size: 1.5rem;

            div[data-control-id="image-label"]{
                min-height : 20rem;
                background-color: #5df371;
                margin-bottom : 1rem;
                background-size: cover;
            }

            p[data-control-id="question-label"]{
                font-size: 1.5rem;
                margin-bottom: 1rem;
                font-weight: bold;
            }

            div[data-control-id = "answer-container"]{
                font-size: 1.5rem;

                input{
                    margin-bottom: 1rem;                    
                }

                label{
                    margin-left: 1rem;
                }
            }
        }

        footer{
            display:flex;
            justify-content: space-evenly;
            align-items: center;

            button{
                padding : 0.5rem;
                font-size: 1rem;
            }

            p[data-control-id="timer-label"]{
                padding : 1rem;
                text-align: center;
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }
}